@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

li,
dd {
  list-style-type: none;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
  display: block;
}

img {
  border: none;
  vertical-align: bottom;
}

@media screen and (max-width: 1119px) and (min-width: 768px) {
  html {
    font-size: calc(16 / 1120 * 100vw);
  }
}
@media screen and (max-width: 374px) {
  html {
    font-size: calc(16 / 375 * 100vw);
  }
}

body {
  color: #313131;
  font-family: "Noto Sans JP", sans-serif;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: inherit;
}
@media (hover: hover) {
  a:hover {
    cursor: pointer;
  }
}

picture,
img,
a,
span {
  display: inline-block;
}

video,
img,
svg {
  width: 100%;
  height: 100%;
}

button {
  font: inherit;
  color: inherit;
  background: transparent;
  background: none;
  border: none;
}

input,
textarea,
select {
  font: inherit;
}

@media (min-width: 768px) {
  a[href*="tel:"] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
  }
}
.l-main {
  -webkit-padding-before: 4.5rem;
          padding-block-start: 4.5rem;
  min-height: 100vh;
}

.l-inner {
  position: relative;
  width: 100%;
  max-width: 1120px;
  height: inherit;
  padding: 0 2.5rem;
  margin-inline: auto;
}
@media screen and (max-width: 767px) {
  .l-inner {
    width: 100%;
    max-width: 640px;
    padding: 0 1.25rem;
  }
}

.l-inner__narrow {
  max-width: 50rem;
}
@media screen and (max-width: 767px) {
  .l-inner__narrow {
    padding: 0 1.25rem;
    max-width: 600px;
  }
}

.c-animated__fadeIn {
  translate: 0 20px;
  opacity: 0;
}
.c-animated__fadeIn.js-show {
  translate: 0;
  opacity: 1;
}

.p-header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding-inline: 2.5rem;
  background: #e7f482;
}

.p-header__inner {
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-template-columns: 9.375rem 1fr;
  padding-block: 1.0625rem;
}

.p-header__logo {
  font-size: 1.25rem;
}

.p-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-column-gap: 3.75rem;
     -moz-column-gap: 3.75rem;
          column-gap: 3.75rem;
}
@media screen and (max-width: 767px) {
  .p-header__nav {
    display: none;
  }
}

.p-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2rem;
     -moz-column-gap: 2rem;
          column-gap: 2rem;
}
.p-header__list li a {
  font-size: 1.25rem;
}

.p-header__btn {
  padding: 0.5rem 1.625rem;
  background: #fff;
  border: 1px solid #fff;
  color: #001A75;
  font-size: 1.25rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.p-drawer__icon {
  position: fixed;
  z-index: 102;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 17px;
  right: 20px;
  width: 24px;
  height: 16px;
}
@media (min-width: 768px) {
  .p-drawer__icon {
    display: none;
  }
}

.p-drawer__icon--bar {
  width: 100%;
  height: 1px;
  background: #000;
}

.p-drawer__icon.js-show .p-drawer__icon--bar:nth-of-type(1) {
  rotate: 45deg;
  translate: 0 7.5px;
}
.p-drawer__icon.js-show .p-drawer__icon--bar:nth-of-type(2) {
  display: none;
}
.p-drawer__icon.js-show .p-drawer__icon--bar:nth-of-type(3) {
  rotate: -45deg;
  translate: 0 -7.5px;
}

.p-drawer {
  position: fixed;
  z-index: 101;
  overflow-y: scroll;
  top: 0;
  right: 0;
  width: 278px;
  height: 100vh;
  height: 100svh;
  background: #b6e7f3;
}

.p-drawer__icon--bar {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.p-drawer {
  translate: 101%;
  -webkit-transition: translate 0.5s ease;
  transition: translate 0.5s ease;
}
.p-drawer.js-show {
  translate: 0;
}

.p-drawer__body {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-block: 88px 40px;
  padding-left: 34px;
}

.p-drawer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 32px;
  margin-bottom: 40px;
}
.p-drawer__list li a {
  font-size: 20px;
  font-weight: 400;
}

.p-drawer__btn {
  display: inline-block;
  padding: 6px 30px;
  background: #fff;
  font-size: 20px;
  font-weight: 400;
}

#or-img {
  width: 100%;
  display: block;
  -webkit-transition: opacity 2s ease, -webkit-filter 2s ease;
  transition: opacity 2s ease, -webkit-filter 2s ease;
  transition: filter 2s ease, opacity 2s ease;
  transition: filter 2s ease, opacity 2s ease, -webkit-filter 2s ease;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  opacity: 1;
}
#or-img.gray {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
#or-img.fadeout {
  opacity: 0;
}

.text-mask-wrap {
  position: absolute;
  inset: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
}

.text-mask {
  font-size: min(22vw, 260px);
  font-weight: 1000;
  white-space: nowrap;
  letter-spacing: 0.05em;
  background-image: url("../../assets/img/img01.jpeg");
  background-position: center;
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}
.text-mask.animate {
  -webkit-animation: cpontanIn 4s ease forwards;
          animation: cpontanIn 4s ease forwards;
}

@-webkit-keyframes cpontanIn {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes cpontanIn {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
.scroll_inner {
  background-color: #000;
}

.section {
  height: 50vh;
  position: relative;
}

.container {
  width: 100%;
  max-width: 70rem;
  padding: 6rem 3rem;
}

.scroll_wrap {
  position: relative;
}

.scroll_trigger {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.scroll_track {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.scroll_sticky {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  top: 0;
}

.scroll_item {
  width: 100%;
  height: 100%;
  max-width: 80rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-inline: auto;
  padding: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.scroll_img {
  width: 40%;
  height: auto;
  aspect-ratio: 1/1;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  overflow: hidden;
  border-radius: 50%;
}

.scroll_background {
  height: 100%;
  opacity: 0.6;
}

.scroll_title {
  color: #ffffff;
  letter-spacing: -0.03em;
  line-height: 1;
  font-size: 2.6rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 991px) {
  .container {
    padding-inline: 2rem;
  }
}
@media screen and (max-width: 767px) {
  .container {
    padding-inline: 1rem;
  }
  .scroll_item {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .scroll_img {
    width: 100%;
    max-width: 19rem;
  }
  .scroll_title {
    width: 100%;
    max-width: 19ch;
    min-height: 3.4em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 7vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 479px) {
  .scroll_item {
    padding: 6vw;
  }
  .scroll_title {
    font-size: 8vw;
  }
}
.p-works-slider {
  -webkit-padding-before: 3.75rem;
          padding-block-start: 3.75rem;
  background: #ffdb92;
  overflow: hidden;
  width: 100%;
  padding-block: 0.625rem;
  -webkit-margin-before: -0.3125rem;
          margin-block-start: -0.3125rem;
}

.p-works-slider__inner {
  padding-inline: 2.5rem;
  margin-inline: auto;
  position: relative;
  width: 100%;
}

.p-works-slide__container {
  width: 100%;
  position: relative;
  padding-block: 4.375rem 3.375rem;
}
.p-works-slide__container::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0rem;
  right: calc(50% - 50vw);
  width: calc(100% - 9.8125rem + 50vw - 50%);
  height: calc(100% - 0rem);
  background: #fff;
  border-radius: 15rem 0 0 15rem;
}

.c-section__title--large {
  font-size: max(2.9375rem, 37.6px);
  font-weight: 700;
  line-height: 1.1489361702;
  letter-spacing: 0em;
}

.p-works-slider__main-title {
  text-align: center;
}

.p-works-slider__side {
  position: absolute;
  top: 11.875rem;
  left: -1.25rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  text-align: center;
  z-index: 2;
}

.u-animation__jump {
  -webkit-animation: 5s 0s ease-in-out forwards infinite jumpIllust;
          animation: 5s 0s ease-in-out forwards infinite jumpIllust;
}

.u-animation__jump.--delay1 {
  -webkit-animation: 5s 1s ease-in-out forwards infinite jumpIllust;
          animation: 5s 1s ease-in-out forwards infinite jumpIllust;
}

@-webkit-keyframes jumpIllust {
  0% {
    translate: 0;
    scale: 1;
  }
  50% {
    translate: 0 -5px;
    scale: 1;
  }
  55% {
    scale: 1.07;
    translate: 0 -20px;
  }
  60% {
    scale: 0.97;
    translate: 0 0px;
  }
  65% {
    scale: 1;
    translate: 0;
  }
  100% {
    scale: 1;
    translate: 0;
  }
}

@keyframes jumpIllust {
  0% {
    translate: 0;
    scale: 1;
  }
  50% {
    translate: 0 -5px;
    scale: 1;
  }
  55% {
    scale: 1.07;
    translate: 0 -20px;
  }
  60% {
    scale: 0.97;
    translate: 0 0px;
  }
  65% {
    scale: 1;
    translate: 0;
  }
  100% {
    scale: 1;
    translate: 0;
  }
}
.p-works-slider__illust {
  width: 21rem;
  height: auto;
}

.p-works-slider__main {
  position: relative;
  z-index: 2;
  -webkit-margin-start: 22.875rem;
          margin-inline-start: 22.875rem;
  width: calc(100% + 50vw - 50%);
}

.p-works-slider__swiper-container {
  height: 39.0625rem;
  overflow: hidden;
  -webkit-padding-start: 7.5rem;
          padding-inline-start: 7.5rem;
  position: relative;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.p-works-slider__swiper {
  height: 37.1875rem;
  overflow: visible;
}

.p-works-slider__swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.p-works-slider__swiper-container,
.p-works-slider__swiper,
.p-works-slider__swiper-wrapper,
.p-works-slider__swiper-slide {
  position: relative;
}

.p-works-slider__swiper-slide {
  display: block;
  width: 19.125rem;
  height: auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-margin-end: 10rem;
          margin-inline-end: 10rem;
  -webkit-transition: all 0.3s cubic-bezier(0.55, 0.05, 0.22, 0.99);
  transition: all 0.3s cubic-bezier(0.55, 0.05, 0.22, 0.99);
}

.p-works-slider__swiper-slide.swiper-slide-active,
.p-works-slider__swiper-slide.swiper-slide-duplicate-active {
  scale: 1.6;
}

.p-works-slider__swiper-slide-img-wrap {
  overflow: hidden;
  border-radius: 2.5rem;
  width: 100%;
  height: auto;
  aspect-ratio: 1;
}

.p-works-slider__swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}

.p-works-slider__tag {
  -webkit-margin-before: 0.5rem;
          margin-block-start: 0.5rem;
  font-size: max(0.546875rem, 7px);
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0em;
  font-size: 8.75px;
  color: #aaaaaa;
}

.p-works-slider__title {
  font-size: max(0.546875rem, 7px);
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: 0em;
  font-size: 8.75px;
  -webkit-margin-before: 0.125rem;
          margin-block-start: 0.125rem;
  color: rgb(49, 29, 15);
}

.p-works-slider__custom-progress,
.p-recommend-slider__custom-progress {
  position: absolute;
  bottom: 0;
  left: 1.875rem;
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 6px;
     -moz-column-gap: 6px;
          column-gap: 6px;
}

.p-works-slider__custom-progress__bar,
.p-recommend-slider__custom-progress__bar {
  position: relative;
  top: unset;
  left: unset;
  width: 110px;
  height: 2px;
  background: #aaa;
  overflow: hidden;
}

.p-recommend-slider__custom-progress__fill {
  height: 100%;
  width: 0%;
  background: #311d0f;
  -webkit-transition: none;
  transition: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: unset;
  bottom: unset;
  left: unset;
  right: unset;
  margin: 0;
  padding: 0;
}

.swiper-button-prev.p-recommend-slider__swiper-button-prev svg,
.swiper-button-next.p-works-slider__swiper-button-next svg,
.swiper-button-next.p-recommend-slider__swiper-button-next svg {
  width: 1.25rem;
}

.swiper-button-prev.p-recommend-slider__swiper-button-prev {
  left: 0;
  position: absolute;
  width: 3.125rem;
  height: 2.5rem;
  background: #311d0f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  translate: 0 calc(-50% - 3.125rem);
  border-radius: 1rem;
}

.swiper-button-prev,
.swiper-button-next {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.swiper-button-next.p-recommend-slider__swiper-button-next {
  position: absolute;
  width: 3.125rem;
  height: 2.5rem;
  background: #311d0f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  translate: 0 calc(-50% - 3.125rem);
  border-radius: 1rem;
}

.swiper-button-prev.p-recommend-slider__swiper-button-prev svg {
  rotate: 180deg;
}

.swiper-button-next.p-recommend-slider__swiper-button-next {
  left: 30.625rem;
}

.p-works-slider__btn {
  position: absolute;
  z-index: 3;
  bottom: 3.125rem;
  right: 2.5rem;
}

.c-archive-btn__link {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1rem;
     -moz-column-gap: 1rem;
          column-gap: 1rem;
  white-space: nowrap;
}
@media (any-hover: hover) {
  .c-archive-btn__link:hover .c-archive-btn__link-box {
    translate: 4px 0;
  }
}

.c-archive-btn__link-text {
  font-size: max(1.3125rem, 16.8px);
  font-weight: 700;
  line-height: 1.6666666667;
  letter-spacing: 0em;
}

.c-archive-btn__link-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #4dbe3d;
  width: 2rem;
  height: 1.5625rem;
  border-radius: 0.5rem;
  -webkit-transition: translate 0.3s ease;
  transition: translate 0.3s ease;
}

.c-archive-btn__link-box svg {
  width: 0.75rem;
  height: auto;
}

.p-concept__btn {
  margin-top: 5rem;
  text-align: center;
}

.c-btn {
  display: inline-block;
  padding-block: 1.6875rem;
  padding-inline: 5.3125rem;
  font-size: max(1.25rem, 16px);
  font-weight: 23;
  border: 1px solid #313131;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media screen and (max-width: 767px) {
  .c-btn {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 767px) {
  .c-btn {
    font-size: max(1rem, 12.8px);
    font-weight: 16;
    width: 21.625rem;
    padding-inline: 0;
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  .c-btn {
    font-size: 1rem;
  }
}
@media (any-hover: hover) {
  .c-btn:hover {
    background-color: #333;
    color: #fff;
  }
}

.c-btn__icon {
  width: 1.6rem;
  height: auto;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.c-btn:hover {
  color: #fff;
  /* ホバー時は白 */
}

.c-btn:hover .c-btn__icon {
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
  /* 矢印だけ右に動く */
}

@media (min-width: 768px) {
  .u-sp {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .u-pc {
    display: none !important;
  }
}
.u-font {
  font-family: "Noto Sans JP", sans-serif;
}
.u-font__jp {
  font-family: "Noto Sans JP", sans-serif;
}
.u-font__en {
  font-family: "Roboto", sans-serif;
}

.u-text__center {
  text-align: center !important;
}
@media screen and (max-width: 767px) {
  .u-text__center--sp {
    text-align: center !important;
  }
}
@media (min-width: 768px) {
  .u-text__center--pc {
    text-align: center !important;
  }
}

.u-text__left {
  text-align: left !important;
}
@media screen and (max-width: 767px) {
  .u-text__left--sp {
    text-align: left !important;
  }
}
@media (min-width: 768px) {
  .u-text__left--pc {
    text-align: left !important;
  }
}

.u-text__right {
  text-align: right !important;
}
@media screen and (max-width: 767px) {
  .u-text__right--sp {
    text-align: right !important;
  }
}
@media (min-width: 768px) {
  .u-text__right--pc {
    text-align: right !important;
  }
}

.u-text__nowrap {
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .u-text__nowrap--sp {
    white-space: nowrap;
  }
}
@media (min-width: 768px) {
  .u-text__nowrap--pc {
    white-space: nowrap;
  }
}

.u-pointer__none {
  pointer-events: none !important;
}
@media screen and (max-width: 767px) {
  .u-pointer__none--sp {
    pointer-events: none !important;
  }
}
@media (min-width: 768px) {
  .u-pointer__none--pc {
    pointer-events: none !important;
  }
}/*# sourceMappingURL=style.css.map */